<nav class="navbar navbar-header navbar-header-transparent navbar-expand-lg border-bottom">
    <div class="container-fluid">
        <nav class="navbar navbar-header-left navbar-expand-lg navbar-form nav-search p-0 d-none d-lg-flex">
           
        </nav>

        <ul class="navbar-nav topbar-nav ms-md-auto align-items-center">
          
            
        
           

          
    </ul>
    </li>
    </ul>
    </div>
</nav>