@model List<ResultLocationDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<br />
<br />
<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">Konumlar</h4>
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">
						<div class="card-title">Bilgiler</div>
					</div>
					<div class="card-body">
						<div class="card-sub">
							Konum Bilgileri ile ilgili işlemleri aşağıdan gerçekleştirebilirsiniz.
						</div>
						<table class="table mt-3">
							<thead>
								<tr>
									<th scope="col">Id</th>
									<th scope="col">Name</th>
								</tr>
							</thead>

							<tbody>

								@foreach (var item in Model)
								{
									<tr>
										<td>@item.Id</td>
										<td>@item.Name</td>
										<td><a href="/AdminLocation/DeleteLocation/@item.Id" class="btn btn-danger">Sil</a></td>
										<td><a href="/AdminLocation/UpdateLocation/@item.Id" class="btn btn-primary">Güncelle</a></td>
									</tr>
								}
							</tbody>
						</table>
						<a href="/AdminLocation/CreateLocation/" class="btn btn-success">Yeni Konum Ekle</a>
					</div>
				</div>



			</div>

		</div>
	</div>
</div>
<br />
