<footer class="ftco-footer ftco-bg-dark ftco-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2"><a href="#" class="logo">Tekne<span>nde</span></a></h2>
                    <p></p>
                    <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                        <li><a href="#"><span class="icon-twitter"></span></a></li>
                        <li><a href="#"><span class="icon-facebook"></span></a></li>
                        <li><a href="#"><span class="icon-instagram"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4 ml-md-5">
                    <h2 class="ftco-heading-2">Site Haritası</h2>
                    <ul class="list-unstyled">
                        <li><a href="/Home/Index/" class="py-2 d-block">Ana Sayfa</a></li>
                        <li><a href="/Boat/Index/" class="py-2 d-block">Teknelerimiz</a></li>
                        <li><a href="/Partner/Index/" class="py-2 d-block">Partnerlerimiz</a></li>
                        <li><a href="/Location/Index/" class="py-2 d-block">Lokasyonlar</a></li>
                        <li><a href="/BlogPost/Index/" class="py-2 d-block">Blog</a></li>
                        <li><a href="/Contact/Index/" class="py-2 d-block">İletişim</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Söleşmeler</h2>
                    <ul class="list-unstyled">
                        <li><a href="#" class="py-2 d-block">Gizlilik Politikası</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">İletişim Bilgileri</h2>
                    <div class="block-23 mb-3">
                        <ul>
                            <li><span class="icon icon-map-marker"></span><span class="text">Muğla/Göcek</span></li>
                            <li><a><span class="icon icon-phone"></span><span class="text">+90 123 456 78 90</span></a></li>
                            <li><a><span class="icon icon-envelope"></span><span class="text">teknende.com</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">

                <p>
                    © 2025. All Rights Reserved.
                    <br />
                    Developed by İLHAN BOYSAN
                </p>
            </div>
        </div>
    </div>
</footer>