<div class="sidebar" data-background-color="dark">
    <div class="sidebar-logo">
        <!-- Logo Header -->
        <div class="logo-header" data-background-color="dark">
            <a href="/Adminhome/Index/" class="logo">
                <h2 style="color:white">TEKNENDE</h2>
            </a>
            <div class="nav-toggle">
                <button class="btn btn-toggle toggle-sidebar">
                    <i class="gg-menu-right"></i>
                </button>
                <button class="btn btn-toggle sidenav-toggler">
                    <i class="gg-menu-left"></i>
                </button>
            </div>
            <button class="topbar-toggler more">
                <i class="gg-more-vertical-alt"></i>
            </button>
        </div>
        <!-- End Logo Header -->
    </div>
    <div class="sidebar-wrapper scrollbar scrollbar-inner">
        <div class="sidebar-content">
            <ul class="nav nav-secondary">
              
                <li class="nav-item">
                    <a data-bs-toggle="collapse" href="#home">
                        <i class="fa-solid fa-house" style="color: #FFD43B;"></i>
                        <p>AnaSayfa</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="home">
                        <ul class="nav nav-collapse">
                            <li>
                                <a href="/Home/Index">
                                    <span class="sub-item">AnaSayfaya Git</span>
                                </a>
                            </li>
                           
                        
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a data-bs-toggle="collapse" href="#boat">
                        <i class="fa-solid fa-sailboat" style="color: #FFD43B;"></i>
                        <p>Tekneler</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="boat">
                        <ul class="nav nav-collapse">
                            <li>
                                <a href="/Boat/Index">
                                    <span class="sub-item">Teknelerimiz Sayfasına Git</span>
                                </a>
                            </li>
                            <li>
                                <a href="/adminboat/Index">
                                    <span class="sub-item">Bilgileri Güncelle</span>
                                </a>
                            </li>
                            <li>
                            </li>

                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a data-bs-toggle="collapse" href="#blog">
                        <i class="fa-solid fa-blog" style="color: #FFD43B;"></i>
                        <p>Blog Yazıları</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="blog">
                        <ul class="nav nav-collapse">
                            <li>
                                <a href="/BlogPost/Index">
                                    <span class="sub-item">Blog Yazıları Sayfasına Git</span>
                                </a>
                            </li>
                            <li>
                                <a href="/adminblogpost/Index">
                                    <span class="sub-item">Bilgileri Güncelle</span>
                                </a>
                            </li>
                            <li>
                            </li>

                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a data-bs-toggle="collapse" href="#location">
                        <i class="fa-solid fa-location-dot" style="color: #FFD43B;"></i>
                        <p>Konum Bilgileri</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="location">
                        <ul class="nav nav-collapse">
                            <li>
                                <a href="/location/Index">
                                    <span class="sub-item">Konum Sayfasına Git</span>
                                </a>
                            </li>
                            <li>
                                <a href="/adminlocation/Index">
                                    <span class="sub-item">Bilgileri Güncelle</span>
                                </a>
                            </li>
                            <li>
                            </li>

                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a data-bs-toggle="collapse" href="#partner">
                        <i class="fa-regular fa-handshake" style="color: #FFD43B;"></i>
                        <p>Partnerler</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="partner">
                        <ul class="nav nav-collapse">
                            <li>
                                <a href="/Partner/Index">
                                    <span class="sub-item">Partnerler Sayfasına Git</span>
                                </a>
                            </li>
                            <li>
                                <a href="/adminpartner/Index">
                                    <span class="sub-item">Bilgileri Güncelle</span>
                                </a>
                            </li>
                            <li>
                            </li>

                        </ul>
                    </div>
                </li>

            </ul>
        </div>
    </div>
</div>